.container {
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
}

h3 {
    font-family: 'Zen Antique', serif;
font-size: 2.3em;
}

.btn-login {
    background-color: red;
    border-color: red;
    margin: 10px;
    padding: 1rem 2 rem;
    border-radius: 100px;
}

.btn-volver {
    border-radius: 100px;
}



